### Intellij ###
.idea
*.iml
out/

### Maven ###
*/target
target/
*/test-output

### Gradle ###
.gradle
build

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Gradle patch
**/build/